<footer class="footer fixed-bottom py-3 bg-dark">
    <div class="container text-center">
        <a class="text-muted" href="mailto:mmallia92@gmail.com" target="_blank"><fa-icon [icon]="faEnvelope" size="2x"></fa-icon></a>
        <a class="text-muted ms-3" href="https://www.facebook.com/profile.php?id=100077081809399" target="_blank"><fa-icon [icon]="faFacebook" size="2x"></fa-icon></a>
        <a class="text-muted ms-3" href="https://www.instagram.com/mmallia92/" target="_blank"><fa-icon [icon]="faInstagram" size="2x"></fa-icon></a>
        <a class="text-muted ms-3" href="https://www.linkedin.com/in/michelemallia/" target="_blank"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a>
        <a class="text-muted ms-3" href="https://github.com/MicheleMallia/" target="_blank"><fa-icon [icon]="faGithub" size="2x"></fa-icon></a>
        <a class="text-muted ms-3" href="tel:+393392804180"><fa-icon [icon]="faPhone" size="2x"></fa-icon></a>
        <a class="text-muted ms-3" href="https://t.me/mmallia92" target="_blank"><fa-icon [icon]="faTelegram" size="2x"></fa-icon></a>
    </div>
</footer>