<div class="container welcome">
    <h1 class="text-center">Hello!</h1>
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../assets/images/profile.jpg" class="rounded-circle" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">My name is Michele Mallia, I am almost 30 years old and I was born in Palermo but I have always lived in Agrigento. At the age of 19 I moved to Pisa to begin my Digital Humanities studies at the University of Pisa.</p>
                    <p class="card-text">In 2015 I obtained my bachelor's degree with a thesis in Computational Linguistics entitled "Spelling correction applied to historical texts of the First World War". Later I continued my studies in Digital Humanities specializing in Graphics, Virtual Environments and Interactivity.</p>
                    <p class="card-text">In 2018 I obtained my master's degree with an experimental thesis entitled "Automatic Creation of a Virtual / Augmented Gallery Based on User Defined Queries on Online Public Repositories", whose work was published in a magazine published by Springer.</p>
                    <p class="card-text">From 2018 onwards I started working at various companies located between Pisa and Turin as a front-end developer. From 2020 I became a research fellow at the CNR of Pisa and I was included in the PRIN Italia Antica project, whose purpose is to create a platform for the creation of lexicons derived from epigraphic materials to be exported and made available to the scientific community.</p>
                    <p class="card-text">In these years I have learned various programming languages ​​and computer technologies such as Angular, TypeScript, Python, Css, Docker and many others.</p>
                    <p class="card-text">In addition to work, I like making music, listening to music vinyls, taking photographs with the reflex camera, taking long walks in the mountains, cycling, being around people, traveling and visiting museums.</p>
                    <p class="card-text">For anything, do not hesitate to contact me, find the addresses in the footer below.</p>
                </div>
            </div>
        </div>
    </div>
</div>