<div class="container cv">
    <div class="row">
        <h2>Experience</h2>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="work-experience">
                <ul class="list">
                    <li>
                        <div class="icon"><fa-icon [icon]="faBriefcase"></fa-icon></div>       
                        <span class="time">2019 - Present</span>
                        <h5>Art director</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </li>
                </ul>
            </div>  
        </div>
        <div class="col-lg-6">
            <div class="study-experience">
                <ul class="list">
                    <li>
                        <div class="icon"><fa-icon [icon]="faGraduationCap"></fa-icon></div>       
                        <span class="time">2019 - Present</span>
                        <h5>Art director</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </li>
                </ul>
            </div>  
        </div>
    </div>
</div>