<div class="container cv">
    <div class="row pb-5">
        <h1 class="text-center">Experience</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="study-experience">
                <ul class="list">
                    <li>
                        <div class="icon"><fa-icon [icon]="faBriefcase"></fa-icon></div>       
                        <span class="time">2015 - 2018</span>
                        <h5>Master's degree</h5>
                        <small class="d-flex"><fa-icon [icon]="faLocationDot"></fa-icon> <p class="ms-2 mb-0">University of Pisa</p></small>
                        <small class="d-flex"><fa-icon [icon]="faUserGraduate"></fa-icon> <p class="ms-2">Digital Humanities (LM-43)</p></small>
                        <p>In these two years of studies I have deepened my knowledge of programming in the field of graphics, 3D virtual environments and in the design of multimedia products (audio, video, programming of graphic elements). My master's thesis consists of a virtual museum prototype dynamically generated based on some parameters. From this project a paper was written which was published by Springer.</p>
                    </li>
                    <li>
                        <div class="icon"><fa-icon [icon]="faBriefcase"></fa-icon></div>       
                        <span class="time">2011 - 2015</span>
                        <h5>Bachelor's degree</h5>
                        <small class="d-flex"><fa-icon [icon]="faLocationDot"></fa-icon> <p class="ms-2 mb-0">University of Pisa</p></small>
                        <small class="d-flex"><fa-icon [icon]="faUserGraduate"></fa-icon> <p class="ms-2">Digital Humanities (LM-43)</p></small>                        
                        <p>In these four years I have learned the knowledge related to the humanistic world (linguistics, history of art and literature) and the basics of programming in the field of fullstack web development (relational databases and pure javascript), of computational linguistics (Python + NLTK). I made an experimental thesis in Python that analyzes texts from the First World War.</p>
                    </li>
                </ul>
            </div>  
        </div>
        <hr class="dashed d-md-none">

        <div class="col-lg-6">
            <div class="work-experience">
                <ul class="list">
                    <li>
                        <div class="icon"><fa-icon [icon]="faGraduationCap"></fa-icon></div>       
                        <span class="time">2020 - Present</span>
                        <h5>Research Fellow</h5>
                        <small class="d-flex"l><fa-icon [icon]="faLocationDot"></fa-icon> <p class="ms-2 mb-0">Pisa</p></small>
                        <small class="d-flex"l><fa-icon [icon]="faIndustry"></fa-icon> <p class="ms-2">CNR (Institute for Computational Linguistics «A. Zampolli»)</p></small>
                        <p>I was included in the PRIN "Ancient Italy" project whose purpose is to create a platform for the modification and creation of lexicons and certificates relating to languages of ancient Italy (VII-I century BC). I take care of the web development on the front-end side of the platform, but I also manage the docker containers of the back-end services. From a theoretical point of view, I focused on the study of RDF structures and web-ontologies and the semantic web.</p>
                    </li>
                </ul>
            </div>  
        </div>
    </div>
</div>